.container {

  /* background-color: black; */
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;

}

.titulo {
  font-size: 3.5em;
  margin: auto;
  padding: 15px;
  text-align: center;
  text-shadow: 0 0 10px rgb(255, 230, 0);
}

.container-Form {
  width: 100%;
}

.filtrarPeloNome {
  display: flex;
  justify-content: center;
  margin: 10px 0 25px;
  width: 100%;

}

form input {
  background-color: rgb(34, 34, 34);
  border: none;
  border-bottom: 2px solid rgb(95, 86, 0);
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 10rem;

}

.filtrarPeloNome input {
  background-color: #3e3e3e;
  border-radius: 10px;
  color: white;
  padding: 8px;
  width: 20rem;
}

form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px;
}

form label {
  color: white;
  font-weight: 600;
}


form select {
  background-color: rgb(34, 34, 34);
  border: none;
  border-bottom: 2px solid rgb(95, 86, 0);
  border-radius: 5px;
  color: white;
  margin-left: 4px;
  padding: 5px;
  width: 10rem;
}


select:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.tipoRadio input {
  width: 20px;
}

form input:hover {
  background-color: rgb(56, 56, 56);


}

form select:hover {
  background-color: rgb(56, 56, 56);

}

form button {
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(53, 48, 0);
  border-radius: 5px;
  color: rgb(163, 152, 0);
  padding: 10px;
}

form button:hover {
  background-color: rgb(56, 56, 56);

}


.tipoRadio {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

/* //tabela// */
.container_tabela {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}


table {
  border-collapse: collapse;
  color: white;
  text-align: center;
}

table th {
  background-color: rgb(32, 32, 32);
  padding: 20px;
}


tbody tr {
  background-color: #3e3e3e;
  border-bottom: 2px solid rgb(90, 74, 0);
  height: 120px;

}

.filtros {

  /* background-color: aqua; */
  color: white;
  display: flex;
}

.filtros p {
  align-items: center;
  background-color: rgb(49, 49, 49);
  border: 2px solid white;
  display: flex;
  height: 30px;
  justify-content: center;

  /* margin-right: 10px; */
  width: 150px;
}

.icon {
  align-items: center;
  background-color: rgb(49, 49, 49);
  border: 2px solid white;
  color: rgb(194, 0, 0);
  display: flex;
  height: 30px;
  justify-content: center;
}

.removeBtn {
  background-color: #3e3e3e00;
  border: none;
}


.divScrol {
  max-height: 80px;

  /* height: 80px; */
  overflow-y: scroll;
  width: 500px;
}

