.container {

  /* background-color: black; */
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;

}

.titulo {
  font-size: 3.5em;
  margin: auto;
  padding: 15px;
  text-align: center;
  text-shadow: 0 0 10px rgb(255, 230, 0);
}

.container-Form {
  width: 100%;
}

.filtrarPeloNome {
  display: flex;
  justify-content: center;
  margin: 10px 0 25px;
  width: 100%;

}

form input {
  background-color: rgb(34, 34, 34);
  border: none;
  border-bottom: 2px solid rgb(95, 86, 0);
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 10rem;

}

.filtrarPeloNome input {
  background-color: #3e3e3e;
  border-radius: 10px;
  color: white;
  padding: 8px;
  width: 20rem;
}

.filtrarPeloNome input:hover {
  background-color: #4d4d4d;
}

form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px;
}

form label {
  color: white;
  font-weight: 600;
}


form select {
  background-color: rgb(34, 34, 34);
  border: none;
  border-bottom: 2px solid rgb(95, 86, 0);
  border-radius: 5px;
  color: white;
  margin-left: 4px;
  padding: 5px;
  width: 10rem;
}


select:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.tipoRadio input {
  width: 20px;
}

form input:hover {
  background-color: rgb(56, 56, 56);


}

form select:hover {
  background-color: rgb(56, 56, 56);

}

form button {
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(53, 48, 0);
  border-radius: 5px;
  color: rgb(163, 152, 0);
  padding: 10px;
}

form button:hover {
  background-color: rgb(56, 56, 56);

}


.tipoRadio {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

/* //tabela// */
.container_tabela {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}


table {
  border-collapse: collapse;
  color: white;
  margin: auto;
  text-align: center;
  width: 98%;
}

table th {
  background-color: rgb(32, 32, 32);
  padding: 20px;
}

table th:nth-child( 1 ) {
  background-color: rgb(32, 32, 32);
  border-top-left-radius: 10px;
}

table th:nth-child( 13 ) {
  background-color: rgb(32, 32, 32);
  border-top-right-radius: 10px;

}


tbody tr {
  background-color: #3e3e3e;
  border-bottom: 2px solid rgb(90, 74, 0);
  height: 120px;

}

tbody tr:hover {
  background-color: #494949;


}

.filtros {

  /* background-color: aqua; */
  color: white;
  display: flex;
}

.filtros p {
  align-items: center;
  background-color: rgb(49, 49, 49);
  border: 2px solid white;
  display: flex;
  height: 30px;
  justify-content: center;

  /* margin-right: 10px; */
  width: 150px;
}

.icon {
  align-items: center;
  background-color: rgb(49, 49, 49);
  border: 2px solid white;
  color: rgb(194, 0, 0);
  display: flex;
  height: 30px;
  justify-content: center;
}

.removeBtn {
  background-color: #3e3e3e00;
  border: none;
}


.divScrol {
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(59, 58, 0);
  margin-bottom: 10px;
  margin-left: 20px;
  max-height: 80px;

  /* height: 80px; */
  overflow-y: scroll;
  padding: 0 10px;
  width: 500px;
}

.divScrol::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.divScrol::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
}

.divScrol::-webkit-scrollbar-thumb {
  background-color: rgb(168, 158, 14);    /* color of the scroll thumb */
  border: 3px solid rgb(54, 49, 0);  /* creates padding around scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}


.botaoDesabilitado {
  background-color: rgba(75, 75, 75, 0.575);
  color: rgba(163, 152, 0, 0.363);
}

.botaoDesabilitado:hover {
  background-color: rgba(75, 75, 75, 0.575);
  color: rgba(163, 152, 0, 0.363);
}
